{
   "plugins": ["prettier-plugin-go-template"],
   "endOfLine": "lf",
   "printWidth": 100,
   "tabWidth": 3,
   "overrides": [
      {
         "files": ".code-workspace",
         "options": {
            "parser": "json",
            "semi": true
         }
      },
      {
         "files": ".prettierrc",
         "options": {
            "parser": "json",
            "semi": true
         }
      },
      {
         "files": "*.html",
         "options": {
            "parser": "go-template"
         }
      },
      {
         "files": "*.md",
         "options": {
            "parser": "markdown",
            "proseWrap": "always",
            "tabWidth": 3
         }
      },
      {
         "files": ["*.yaml", "*.yml"],
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
