{{- $z2h_SCid := printf "MSC001 [%s]" $.Name -}}
{{- with $path := $.Get 0 -}}
   {{- with $format := $.Get 1 -}}
      {{- with readFile $path -}}
         {{- highlight . $format -}}
      {{- else -}}
         {{- errorf (printf "%s: failed to read content from %s" $z2h_SCid $path) -}}
      {{- end -}}
   {{- else -}}
      {{- errorf (printf "%s: missing argument format(2) on %s") $z2h_SCid $path -}}
   {{- end -}}
{{- else -}}
   {{- errorf (printf "%s: missing argument path(1) on %s") $z2h_SCid . -}}
{{- end -}}
